
      <!-- head top -->
      <div class="top">
        <div class="left">
          <button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
          <button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
          <button class="btn btn-info hidden-xs-down" onclick="window.location.href='/'"><i class="fa fa-home"></i>Back Home</button>
        </div>
        <div class="right">
             <% if user_signed_in?%>
                <%= form_tag('/users/sign_out',method: "delete") do -%>
                <div><%= submit_tag '로그아웃' ,class: "btn btn-info"%></div>
                <% end -%>
             <%else%>
               <%= form_tag('/users/sign_in',method: "get") do -%>
                <div><%= submit_tag '로그인' ,class: "btn btn-info"%></div>
                <% end -%>
             <%end%>
            
          
        </div>
      </div>
      <!-- end head top -->

