    <div id="list">
      <ul class="nav flex-column">
        <!--<li class="nav-item"><a href="/" class="nav-link active" ><i class="fa fa-adjust"></i>Dashboard</a></li>-->
        <!-- end user interface submenu -->
        <!-- start with charts -->
        <!--<li class="nav-item"><a href="#menu3" class="nav-link collapsed" data-toggle="collapse"><i class="fa fa-fire"></i>ui<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a></li>-->
        <!-- start charts submenue -->
        <!--<li class="sub collapse" id="menu3">-->
        <!--    <a href="ui-alerts.html" class="nav-link" data-parent="#menu3">alerts</a>-->
        <!--    <a href="ui-btns.html" class="nav-link" data-parent="#menu3">buttons</a>-->
        <!--    <a href="ui-cards.html" class="nav-link" data-parent="#menu3">cards</a>-->
        <!--    <a href="ui-list.html" class="nav-link" data-parent="#menu3">list</a>-->
        <!--    <a href="ui-progress-bars.html" class="nav-link" data-parent="#menu3">progress</a>-->
        <!--</li>-->
        <!-- end charts submenue -->
        <!-- end with charts -->
        <li class="nav-item"><a href="/" class="nav-link"><i class="fa fa-map" aria-hidden="true"></i>지도보기</a></li>        
        <li class="nav-item"><a href="/products/new" class="nav-link"><i class="fa fa-registered" aria-hidden="true"></i>흡연구역 등록</a></li>
        <li class="nav-item"><a href="/products" class="nav-link"><i class="fa fa-list-ul" aria-hidden="true"></i>흡연구역 목록</a></li>
        <li class="nav-item"><a href="/products/new" class="nav-link"><i class="fa fa-registered" aria-hidden="true"></i>단속구역 등록</a></li>
        <li class="nav-item"><a href="/products" class="nav-link"><i class="fa fa-list-ul" aria-hidden="true"></i>단속구역 목록</a></li>
        <li class="nav-item"><a href="/qnas/new" class="nav-link"><i class="fa fa-circle" aria-hidden="true"></i>문의하기</a></li>
        <li class="nav-item"><a href="/notices" class="nav-link"><i class="fa fa-circle" aria-hidden="true"></i>공지사항</a></li>
        
        
      <!--  <li class="nav-item"><a href="profile.html" class="nav-link"><i class="fa fa-users"></i>profile</a></li>-->
      <!--  <li class="nav-item"><a href="invoice.html" class="nav-link"><i class="fa fa-money-bill-alt"></i>invoice</a></li>-->
      <!--  <li class="nav-item"><a href="price.html" class="nav-link"><i class="fa fa-dollar-sign"></i>price</a></li>-->
      <!--  <li class="nav-item"><a href="support.html" class="nav-link"><i class="fa fa-life-ring"></i>support</a></li>-->
      <!--</ul>-->
    </div>